[submodule "external/gwen"]
	path = external/gwen
	url = https://github.com/GlPortal/gwen.git
[submodule "external/vhacd-lib"]
	path = external/vhacd-lib
	url = https://github.com/GlPortal/vhacd-lib.git
[submodule "external/serine"]
	path = external/serine
	url = https://github.com/GlPortal/serine.git
[submodule "external/catch"]
	path = external/catch
	url = https://github.com/philsquared/Catch.git
[submodule "external/linenoise"]
	path = external/linenoise
	url = https://github.com/GlPortal/cpp-linenoise.git
[submodule "external/RadixEntity"]
	path = external/RadixEntity
	url = https://github.com/GlPortal/RadixEntity.git
