sudo: required

language: cpp

matrix:
  include:
    - os: linux
      services: docker
      before_install: 
        - docker pull glportal/whale-gcc:coverall
      script:
        - docker run -t --rm -w /data -v $(pwd):/data glportal/whale-gcc:coverall bash -c "cmake -DCOVERAGE:BOOL=ON ./&& make tests&& ctest&& coveralls --dryrun -i include -i source -e tests --gcov-options \'-lp\' && cmake -DCOVERAGE:BOOL=ON ./&& make tests&& ctest&& coveralls -i include -i source -e tests --gcov-options \'-lp\' ;"
    - os: osx
      osx_image: xcode8.3
      compiler: gcc
      git:
        submodules: false
      before_install:
        - brew update
      install:
        - brew install assimp
        - brew install libepoxy
        - brew install sdl2
        - brew install sdl2_mixer
        - brew install bullet
        - brew install tinyxml2
        - brew install unittest-cpp
        - brew install freeimage
      before_script:
        - git submodule update --init --recursive
        - mkdir build && cd build
      script:
        - cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$PWD/install ..
        - make -j4
    - os: osx
      osx_image: xcode8.3
      compiler: clang
      git:
        submodules: false
      before_install:
        - brew update
      install:
        - brew install assimp
        - brew install libepoxy
        - brew install sdl2
        - brew install sdl2_mixer
        - brew install bullet
        - brew install tinyxml2
        - brew install unittest-cpp
        - brew install freeimage
      before_script:
        - git submodule update --init --recursive
        - mkdir build && cd build
      script:
        - set -e
        - cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$PWD/install ..
        - make -j4

notifications:
  irc: "chat.freenode.net#glportal"
  slack: glportal:6owD9V6VXhGmM7yyEd2hIZue
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/ea210c016747790b4fa4
    on_success: always
    on_failure: always
    on_start: never
